<%- include('partials/header') %>

			<div class="container">
				<div class="row mt-2">
					
				<% players.forEach((player) => { %>
					<div class="card m-3">
						<a href='/players/<%= player._id %>'>
						<img class="img-thumbnail" src="<%= player.image %>" alt="Picture of the player">
						</a>
						<h3 class="card-title mt-3"><%= player.name %></h3>
						<p class="card-text mb-3 mx-3"><%= player.description %> </p>
				</div>				
				<% }) %>
				</div>
			</div>

<%- include('partials/footer') %>


